body {
    background-color: #0DB5AA;
    font-family: Arial, Helvetica, sans-serif, Sans-Serif;
}

a {
  color: inherit; 
  text-decoration: inherit;
}

img {
  display: block;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}

h1 {
  font-size: 50pt;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 30pt;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 20px;
  text-align: center;
}